#secret-document {
  font-family: monospace;
  width: 50vw;
  margin: auto;
  font-size: 1rem;
}

h2 {
  font-family: cursive;
  width: 50vw;
  padding-left: 240px;
}

.redacted {
background-color: black;
user-select: none;
}

.revealed {
  color: red;
  text-decoration: underline;
}
