#secret-document {
  font-family: cursive;
  width: 50vw;
  margin: auto;
  font-size: 1.3rem;
  padding: 60px;
}

h2 {
  font-family: cursive;
  width: 50vw;
  margin: auto;
  text-align: center;
}

.redacted {
  background-color: black;
  user-select: none;
}

.revealed {
  color: green;
  text-decoration: underline;
}

#button {
  background-color: black;
  border: none;
  color: red;
  padding: 20px 30px;
  margin-top: 30px;
  text-align: center;
  position: relative;
  font-size: 16px;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
