#secret-document {
  font-family: monospace;
  width: 50vw;
  margin: auto;
  font-size: 1.3rem;
  padding: 60px;
}

h2 {
  font-family: cursive;
  width: 50vw;
  margin: auto;
  text-align: center;
}

.redacted {
background-color: black;
user-select: none;
}

.revealed {
  color: green;
  text-decoration: underline;
}
